body{
    margin: 0;
    background: #e5e5e5;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.div_button_center{
    text-align: center;
}
.link_hidden{
    color: #9d9d9d;
}
.massage_fail{
    color: #982727;
    font-size: 12px;
}
.container_center{
    width: 400px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    transform: translate(0,-45%);
}
.container_center_balance{
    width: 280px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    transform: translate(0,-45%);
}
.container_center_buy{
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
}

.container_center_train{
    width: 350px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
}
.balance_input {
    margin:5px 5px ;
    width: 70px;
    height: 30px;
    padding: 2px 2px;
    font-size: 14px;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.balance_input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 3px rgba(158, 158, 158, 0.25);
}
.input_big {
    margin:3px 0 ;
    width: 350px;
    height: 40px;
    padding: 2px 10px;
    font-size: 25px;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input_big:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 5px rgba(158, 158, 158, 0.25);
}
.input {
    margin:3px 0 ;
    width: 150px;
    height: 15px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 5px rgba(158, 158, 158, 0.25);
}
.input_time {
    margin:3px 0 ;
    width: 70px;
    height: 15px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input_time:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 5px rgba(158, 158, 158, 0.25);
}
.input_date {
    margin:3px 0 ;
    width: 110px;
    height: 15px;
    padding: 2px 10px;
    font-size: 14px;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input_date:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 5px rgba(158, 158, 158, 0.25);
}

.label_input_big{
    width: 100px;
    text-align: left;
    color:#191919;
    margin:3px;
    font-size: 20px;
    font-weight: 200;
}
.label_input{
    width: 100px;
    text-align: left;
    color:#191919;
    margin:3px;
    font-size: 14px;
    font-weight: 200;
}
.button_buy{
    margin:3px 0 ;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #e5ba53;
    color: #e5e5e5;
    text-decoration:none;
}
.button_buy:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #f8da20;
}
.button {
    margin:3px 0 ;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #be2644;
    color: #e5e5e5;
    text-decoration:none;

}
.not_buy{
    margin-left: 20px;
    text-align: left;
    font-weight: 400;
    font-size: 14px;
    color: #62061b;
}
.button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #ea3057;
}
.button_login_big {
    width: 210px;
    margin:3px 0 ;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 10px;
    background: #be2644;
    color: #e5e5e5;
    text-decoration:none;

}
.button_login_big:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #ea3057;
}
.button_login {
    margin:3px 0 ;
    border: none;
    text-align: center;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background: #e5ba53;
    color: #e5e5e5;
    text-decoration:none;

}
.button_login:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    background: #f8da20;
}
.search_form{
    background: #939393;
    width: 21%;
    min-width: 350px;
    text-align: left;
    border-radius: 10px;
    padding: 20px 20px 10px;
    margin:15px
}
.div_header{
    background: #be2644;
    display: flex;
    border-radius:20px;
    margin: 15px 5px 5px;
}
.logo{
    display: inline-block;
    position: relative;
    margin-left: 20px;
    color: #e5e5e5;
    font-size: 40px;
}
.div_button_login{
    margin-top: 45px;
    display: inline-block;
    position: relative;
    margin-left: 82%;

}
.div_user{
    margin-top: 5px;
    display: inline-block;
    position: relative;
    margin-left: 80%;

}
.td_center{
    text-align: end;
}
.sort_prise_div{
    margin: 10px;
}
.div_ticket{
    margin: 10px;
}
.table_train{
    width: 98%;
    margin: 20px;
    text-align: left;
    border-radius: 20px;
    border-collapse: separate;
    background: #b9b9b9;
    color:#212529;
    border:16px solid #b9b9b9;
;
}
.th_train{

    font-size: 18px;
    padding:10px ;
}
.td_train{
    background: #a9a9a9;
    padding:10px ;
}
.label_user{
    font-size: 18px;
    color: #e5e5e5;
}
.div_buttons_yes_or_on{
    text-align: center;
}
.td_center{
    text-align: center;
}





