<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8"><!--th:href="@{/css/style.css}"-->
    <link th:href="@{/css/style.css}" rel="stylesheet" >
    <title>Вход в аккаунт</title>

</head>
<body>
    <div class="container_center">

        <form class="container_center" th:action="@{/login}" method="post">
            <div class="massage_fail" th:if="${param.error}">
                Неверное имя пользователя и пароль.
            </div>
                <label class="label_input"> Логин : </label>
                </br>
                <input class="text-field__input" type="text" name="username"/>


                <label class="label_input"> Пороль:  </label>
                </br>
                <input class="text-field__input"  type="password" name="password"/>

                <div class="div_button_center">
                    <input class="button" type="submit" value="войти"/>
                    <a class="link_hidden" href="/registration">Зарегистрироваться </a>
                </div>

        </form>

    </div>
</body>
</html>