<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--th:href="@{/css/style.css}"-->
    <link th:href="@{/css/style.css}" rel="stylesheet" >
    <title>Пополнение баланса</title>
</head>
<body>
    <div th:switch="${user}">
        <div th:case="null">
            <h2 class="massage_fail" th:case="null">Ошибка входа</h2>
        </div>
    <div th:case="*">
        <div class="div_header">
            <h2 class="logo">Поезда</h2>
            <div class="div_user">
                <label class="label_user"> Имя:<label th:text="*{user.username}"></label></label>
                <br>
                <label class="label_user"> Баланс:<label th:text="${user.walletUser()}"></label></label>
                <br>
                <a class="link_hidden" href="/refill-balance">Пополнить</a>
                <br>
                <form th:action="@{/logout}" method="post">
                    <input class="button_login" type="submit" value="Выйти"/>
                </form>
            </div>
        </div>
    </div>
    </div>
<div class="container_center_balance">
    <div th:switch="${user}">
        <h2 th:case="null">Ошибка входа</h2>
        <div th:case="*">
            <label class="label_input_big"> Имя:<label class="label_input_big" th:text="${user.username}"></label></label>
            <br>
            <label class="label_input_big"> Баланс:<label class="label_input_big" th:text="${user.walletUser()}"></label></label>
            <br>
        </div>
    </div>
<form action="#" th:action="@{/refill-balance}" th:object="${wallet}" method="post">

            <label class="label_input_big"> Пополнить на:<input class="balance_input" type="text" th:field = "*{wallet}" id="wallet" placeholder=""> руб.</label>
            <br>
    <div class="div_buttons_yes_or_on">
        <input class="button" type="submit" value="Пополнить">
        <a class="button" th:href="@{/trains}">Отмена</a>
    </div>


</form>
</div>
</body>
</html>