<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
 lang="ru">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <!--th:href="@{/css/style.css}"
    href="css/style.css"-->
    <link th:href="@{/css/style.css}" rel="stylesheet" >
</head>
<body>


<form class="container_center" th:action="@{/registration}" method="post">
    <div class="massage_fail" th:if="${param.error}">
        Неверное имя пользователя и пароль.
    </div>
    <div class="massage_fail" th:if="${massageUserIsExist}">
        Такой пользователь существует!
    </div>
    <div class="massage_fail" th:if="${massagePasswordsNotMatch}">
        Пороли не совпадают!
    </div>
    <div><label class="label_input"> Логин : <input class="text-field__input" type="text" name="username"/> </label></div>
    <div><label class="label_input"> Пароль: <input class="text-field__input"  type="password" name="password"/> </label></div>
    <div><label class="label_input"> Повторите пороль: <input class="text-field__input"  type="password" name="confPassword"/> </label></div>
    <div class="div_button_center"><input class="button" type="submit" value="Зарегистрироваться"/></div>
</form>
</body>
</html>