<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Train Update</title>
</head>
<body>
<form action="#" th:action="@{/admin-page/train-update}" th:object="${train}" method="post">
    <label for="idtrain">ID</label>
    <input readonly type="number" th:field = "*{idtrain}" id="idtrain" placeholder="">
    <br>
    <label for = "start">Посадка</label>
    <input type="text" th:field = "*{start}" id="start" placeholder="">
    <br>
    <label for="end">Высодка</label>
    <input type="text" th:field = "*{end}" id="end" placeholder="">
    <br>
    <label for="seat_buy">Куплино билетов</label>
    <input  type="number" th:field = "*{seat_buy}" id="seat_buy" placeholder="">
    <br>
    <label for="seat_all">Всего билетов</label>
    <input type="number" th:field = "*{seat_all}" id="seat_all" placeholder="">
    <br>
    <label for="price">Стоймость</label>
    <input  type="number" th:field = "*{price}" id="price" placeholder="">
    <br>
    <label for="timeStart">Время отбытия</label>
    <input type="time" th:field = "*{timeStart}" id="timeStart" placeholder="">
    <br>
    <label for="timeEnd">Время прибытия</label>
    <input type="time" th:field = "*{timeEnd}" id="timeEnd" placeholder="">
    <br>
    <label for="date">День отбытия</label>
    <input type="date" th:field = "*{date}" id="date" placeholder="">
    <br>
    <input type="submit" value="Изменить">

</form>

</body>
</html>